<!-- Menu -->
<section id="menu">

    <!-- Search -->
    <section>
        <form class="search" method="get" action="{{ paths.root }}search" enctype="text/plain">
            <input type="text" name="search" placeholder="{{ __('general.phrase.search-ellipsis') }}" value="{% if search is defined %}{{ search|escape }}{% endif %}"/>
        </form>
    </section>

    <!-- Links -->
    <section>
        {{ menu(template = 'partials/_sub_menu.twig', params = {'class': 'links'}) }}
{#         <ul class="links">
            <li>
                <a href="#">
                    <h3>Lorem ipsum</h3>
                    <p>Feugiat tempus veroeros dolor</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Dolor sit amet</h3>
                    <p>Sed vitae justo condimentum</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Feugiat veroeros</h3>
                    <p>Phasellus sed ultricies mi congue</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Etiam sed consequat</h3>
                    <p>Porta lectus amet ultricies</p>
                </a>
            </li>
        </ul>
 #}    </section>

<!-- Actions -->
{#         <section>
        <ul class="actions vertical">
            <li><a href="#" class="button big fit">{{ __('Log In') }}</a></li>
        </ul>
    </section> #}
</section>
