{% extends 'partials/_master.twig' %}
{% block main %}

    <article class="post">
        <header>
            <div class="title">
                <h1>{{ record.title }}</h1>
                {{ record.teaser }}
            </div>
            {{ include('partials/_recordheader.twig', {'record': record})}}
        </header>

        {% if record.image!="" %}
            <a href="{{ image(record.image) }}" class="image featured">
                <img src="{{ thumbnail(record.image, 800, 400, true) }}" alt="{{record.values.image.title|default()}}">
            </a>
        {% endif %}

        {{ record.body }}

        {{ include('partials/_recordfooter.twig', { 'record': record, extended: false }) }}
    </article>

    {% set ct = app.config.get('contenttypes') %}
    {% setcontent records = "entries/latest/4" %}
    <section>
            <h3>{{ __('contenttypes.generic.recent', {'%contenttypes%': 'entries'}) }}</h3>
            {% for record in records %}
            <article class="post">

                <header>
                    <div class="title">
                        <h4><a href="{{ record.link }}">{{ record.title }}</a></h4>
                    </div>
                    {{ include('partials/_recordheader.twig', {'record': record})}}
                </header>

                {# display something introduction-like.. #}
                {% if record.introduction %}
                    {{ record.introduction }}
                {% else %}
                    <p>{{ record.excerpt(300, false, search|default('')) }}</p>
                {% endif %}

                {% include 'partials/_recordfooter.twig' with { 'record': record, 'list': true } %}

            </article>
            {% endfor %}
    </section>

{% endblock main %}
